body {
    background-color: #95D2DC;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
  padding-top: 7px;
  padding-right: 7px;
  margin-bottom: -5px;
  font-color:#555555;
  width: 200;
  height: 50px;
}

.recipe {
  border: 10px solid #edf0f4;
  border-radius: 5px;
  margin: 10px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 20px #888888
}

/*SETS FONT STYLING FOR SPECIFICS*/
.forgotten-items,
.select-style,
input,
textarea,
tr,
label {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  padding: 5px;
  border-radius: 15px;
}

h2{
  font-family: 'Lobster Two', cursive;
}

.recipeTitle {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
  text-shadow: #000 2px 2px 3px;
}

#search-recipes{
  margin-left: 10px;
  width: 100%;
}

.recipeDescription {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  list-style-type: none;
  font-family: 'Comfortaa', cursive;
}

button {
  font-family: 'Comfortaa', cursive;
}

#closeFailedSubmitModal,
#back{
  background-color: #95D2DC;
  color: white;
}

.newRecipeContainer {
  background-color: #E9EBE3;
  border: 10px solid #edf0f4;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #888888
}

.submit-recipe,
.btn-salmon{
  background-color: #874B78;
  color: white;
}

.submit-recipe:hover,
.btn-salmon:hover{
  background-color: #C96274;
  color: white;
}

.total-time {
  visibility: hidden;
}

.nav-bar{
    background-color: #E9EBE3;
}

.nav-bar li a{
  font-family: 'Lobster Two', cursive;
  font-size: 18px;
  font-weight: bold;
  background-color: #E9EBE3;
  color: #874B78;
}
.nav-bar li.active:hover a,
.nav-bar li.active a{
    background-color: #95D2DC;
    color: #E9EBE3;
    padding-bottom: 10px;
    margin-bottom: 0;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#timer {
  background-color: #E9EBE3;
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  font-family: 'Lobster Two', cursive;
  margin: 10px;
  width: 350px;
  height: 150px;
  padding: 25px;
  border-radius: 15px;
}

p{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

h3{
  font-family: 'Lobster Two', cursive;
}

.cooking-title{
  margin-top: 15px;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  color: #C96274;
  font-size: 50px;
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  border-radius: 15px;
  background-color: #E9EBE3;
}

.list-group{
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 15px;
}

.list-group-item{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  background-color: #E9EBE3;
}

.carousel .item img{
    margin: 0 auto;  /*Align slide image horizontally center*/
}

.item {
  width: auto;
  height: 725px;
  max-height: 725px;
/*  margin-top: 50px*/
}

#recipe-image{
  width: 96%;
  margin-left: 20px;
  border-radius: 15px;
  border: solid 10px #E9EBE3;
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
}

.vsc-initialized{
  opacity: 0.5;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Upload Image Modal*/

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;

}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

#upload-input {
  display: none;
}

.vsc-initialized{
  margin-top: -125px;
  border-radius: 15px;
}