body {
    background-image: url("http://cdn.wallpapersafari.com/75/79/g86aNx.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe {
  border: 10px solid #edf0f4;
  border-radius: 5px;
  margin: 10px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 20px #888888
}

#search-recipes{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  border-radius: 15px;
}
.recipeTitle {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
  text-shadow: #000 2px 2px 3px;
}
.recipeDescription {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  list-style-type: none;
  font-family: 'Comfortaa', cursive;
}
#description {
/*  background-color: red;
  width: 100px;
  height: 100px;*/
}

.newRecipeContainer {
  border: 10px solid #edf0f4;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #888888
}
/*.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}*/
/*#steps {
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  margin: 0 0 10px 10px;
  border-radius: 15px;
}*/

.total-time {
  visibility: hidden;
}

.nav-bar{
  font-family: 'Lobster Two', cursive;
  font-size: 18px;
  font-weight: bold;
}
/*.cookingTab {
  visibility: hidden;
}*/
#timer {
  background-color: white;
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
/*  float: right;*/
  font-family: 'Lobster Two', cursive;
  margin: 10px;
  width: 350px;
  height: 150px;
  padding: 25px;
  border-radius: 15px;
}

p{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

h3{
  font-family: 'Lobster Two', cursive;
}

.cooking-title{
  text-align: center;
  font-family: 'Lobster Two', cursive;
  color: red;
  font-size: 50px;
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  border-radius: 15px;
  background-color: white;
}

.list-group{
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 15px;
}

.list-group-item{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}
.carousel{
    background: #2f4357;
   /* margin-top: 20px;*/
}
.carousel .item img{
    margin: 0 auto;  Align slide image horizontally center
}
.bs-example{
  /*margin: 20px;*/
}
.item {
  width: auto;
  height: 725px;
  max-height: 725px;
  margin-top:-200px
}

#recipe-image{
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 35px;
  height: 400px;
  max-height: 400px;
  border-radius: 15px;
  border: solid 10px white;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Upload Image Modal*/

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;

}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

#upload-input {
  display: none;
}

.vsc-initialized{
  margin-top: -125px;
  border-radius: 15px;
}












