body {
    /*background-image: url("http://media.istockphoto.com/photos/fresh-organic-vegetables-spoons-rustic-wooden-backgroundvegetarian-picture-id503054794?k=6&m=503054794&s=170667a&w=0&h=_n2E6s6KOGBGPjI1wOoZ1aw1nSwVnWxpwPTn69tIXXk=");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/

}
.recipe {
  border: 5px solid grey;
  border-radius: 5px;
  margin: 10px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.recipeTitle {
  color: white;
  text-shadow: #000 0px 0px 1px;
}
.recipeDescription {
  color: #d3d3d3;
  text-shadow: #000 0px 0px 2px;
}
#description {
/*  background-color: red;
  width: 100px;
  height: 100px;*/
}

.newRecipeContainer {
  border: solid 2px black;
}
/*.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}*/
/*#steps {
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  margin: 0 0 10px 10px;
  border-radius: 15px;
}*/

.total-time {
  visibility: hidden;
}

#nav-bar{
  font-family: 'Lobster Two', cursive;
  background-image: url("http://cdn.wallpapersafari.com/75/79/g86aNx.jpg");
}

#timer {
  background-color: white;
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  float: right;
  font-family: 'Lobster Two', cursive;
  margin: 10px;
  width: 350px;
  height: 150px;
  padding: 25px;
  border-radius: 15px;
}

.cooking-title{
  text-align: center;
  font-family: 'Lobster Two', cursive;
  color: red;
  font-size: 50px;
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  border-radius: 15px;
}

#ingredients{
  float: left;
}

.list-group{
  -webkit-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -12px rgba(0,0,0,0.75);
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 15px
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
  margin: 20px;
}
