   <ul class="nav nav-tabs">
      <li class="active"><a href="#/home">Home</a></li>
      <li><a href="#/newRecipe">New Recipe</a></li>
      <li><a href="#/cooking">Cooking</a></li>
      <li><a href="#/recipes">All Recipes</a></li>
      <li><a href="#/signin">Sign In</a></li>
    </ul> 


  <div class="container justify-content">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active justify-content-center">
          <img class="d-block img-fluid" src="http://static.fjcdn.com/pictures/Beautiful+food+barbecue_8456da_5468277.jpg" alt="First slide">
        </div>
        <div class="carousel-item justify-content-center">
          <img class="d-block img-fluid" src="http://static.fjcdn.com/pictures/Beautiful_e3a5c7_5469517.jpg" alt="Second slide">
        </div>

        <!--

        <div class="carousel-item" ng-repeat="recipe in recipes">
          <img class="d-block img-fluid" src="{{recipe.image}}" alt="{{recipe.name}}">
        </div>

        -->
      </div>
    </div>
  </div>

