<ul ng-click="stopCooking()" class="nav nav-tabs nav-bar">
  <li><a href="#/home">Home</a></li>
  <li><a href="#/newRecipe">New Recipe</a></li>
  <li><a href="#/searchRecipes">All Recipes</a></li>
  <li class="active cookingTab"><a href="#/cooking">Cooking</a></li>
</ul>

<div class="container-fluid" keypress-events>

  <div class="row"> <!-- Recipe Title Row-->
    <p class="cooking-title">{{recipe.title}}</p>
  </div>
  <div class="row">
    <div class="col-xs-6"><!-- Left Main Content Columns-->
    <!-- Toggle Switch to start and stop timers -->
      <div class="row">
        <div class="col-xs-8 col-md-4">
          <h3>Time Until Next Step</h3>
        </div>
        <div class="col-xs-2" style="padding-top: 25px;">
          <label class="switch">
            <input id="checkbox" ng-click="toggleCooking()" type="checkbox">
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <div class="row-fluid">
        <div class="step-time" id="timer" ></div>
      </div>

      <div class="row-fluid">
        <h3>Ingredients</h3>
          <ul class="list-group">
              <li ng-repeat="ingredient in recipe.ingredients" class="list-group-item">{{ingredient}}</li>
          </ul>
      </div>

      <div class="row-fluid">
        <h3>Prep</h3>
          <ul class="list-group">
              <li ng-repeat="step in prepStepDescriptions" class="list-group-item">{{step}}</li>
          </ul>
      </div>

    </div>

    <div class="col-xs-6"> <!-- Right Main Content Columns-->
      <div class="row-fluid">
        <h3>How to Cook {{recipe.title}}</h3>
          <ul class="list-group">
              <li id="step{{$index}}" ng-repeat="step in cookSteps" class="list-group-item">
                <small>{{step.totalMinutes}} min</small>
                <p>{{step.description}}</p>
                <video id="vid{{$index}}" controls autoplay name="media" class="vsc-initialized">
                </video>

              </li>
          </ul>
      </div>
    </div>
  </div>

  <footer class="row">
    <div class="col-xs-6">
      <h3>Time Until This:</h3>
      <div class="total-cook" id="timer"></div>
    </div>
      <img class="col-xs-6" src="{{recipe.image}}" />


  </footer>

</div>

