<!--Nav Bar-->
<ul class="nav nav-tabs nav-bar">
  <li class="nav-font"><a href="#/index">Home</a></li>
  <li class="active"><a href="#/newRecipe">New Recipe</a></li>
  <li class="nav-font"><a href="#/searchRecipes">All Recipes</a></li>
  <li class="nav-font cookingTab"><a href="#/cooking">Cooking</a></li>
  <img class="logo" align="right" src="../Logo-2.png">
</ul>
<br>

<!-- Modal for Image Upload -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content container">
      <h2 style="text-align: center;">Upload Picture of your Dish!</h2>
      <div class="row">
        <img class="col-xs-6 col-xs-offset-3" src="" id="img-preview" />
      </div>
      <button class="btn btn-lg upload-btn col-xs-6 col-xs-offset-3" type="button">Upload From Computer</button>
      <input class="col-xs-6 col-xs-offset-3" type="text" name="Link" placeholder="or add url" ng-model="addImageByUrl" style="padding:10px; text-align: center;" id="url-input">
      <button class="btn btn-sm col-xs-4 col-xs-offset-4" type="button" id="back" style="padding:10px; text-align: center;">Back to Recipe</button>
      <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
    </div>
  </div>
</div>

<!--New Recipe Page-->

<div class="container">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 newRecipeContainer">
    <div class="row">
      <h3 class="col-xs-4">Recipe Name</h3>
      <h3 class="col-xs-4">Author</h3>
      <h3 class="col-xs-4">Servings</h3>
    </div>
    <div class="row">
      <div class="col-xs-4"><input type="text" name="Title" placeholder="Title" ng-model="title"></div>
      <div class="col-xs-4"><input type="text" name="Author" placeholder="Author" ng-model="author"></div>
      <div class="col-xs-4"><input type="number" name="servings" placeholder="Servings" ng-model="servings"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6"><!-- Left Main Content Columns-->
        <h3>Recipe Description</h3>
        <div>
          <textarea rows="7" cols="38" name="description" placeholder="Introduce your recipe with a quick personal story!" ng-model="description"> </textarea>
        </div>

        <h3>Ingredients:</h3>

        <table class="table col-xs-12">
          <tbody>
            <tr ng-repeat="ingredient in ingredientList track by $index">
              <td class="col-xs-10">
                <input type="text" class="form-control" ng-model="ingredient.description" ng-if="ingredient.editing"/>
                <span ng-if="!ingredient.editing">{{ingredient.description}}</span></td>
              <td class="col-xs-2">
                <button class="btn btn-xs btn-primary" ng-click="editIngredient($index)" ng-if="!ingredient.editing">Edit</button>
                <span ng-if="ingredient.editing">
                  <button type="submit" class="btn btn-xs newRecipe-btn" ng-click="saveIngredient($index)">Save</button>
                  <button type="button" class="btn btn-xs btn-default" ng-click="deleteIngredient($index)">Delete</button>
                </span>
              </td>
            </tr>

            <tr>
              <td>
                <input type="text" class="form-control" ng-model="newIngredient" placeholder="Enter Quantity and Type" />
              <td>
                <button type="submit" id="addIngredientButton" class="btn btn-xs newRecipe-btn" ng-click="addIngredient()">Add</button>
                </td>
            </tr>
          </tbody>
        </table>
      </div><!-- end left main column -->





      <div class="col-xs-6"><!-- Right Main Content Columns-->
        <h3>Select Cuisine</h3>
        <div>
          <select required class="select-style" ng-model="cuisine" name="select type">
            <option value="American">American</option>
            <option value="Thai">Thai</option>
            <option value="Indian">Indian</option>
            <option value="Chinese">Chinese</option>
            <option value="Mexican">Mexican</option>
            <option value="Mediteranian">Mediterranean</option>
            <option value="Ethiopian">Ethiopian</option>
            <option value="Italian">Italian</option>
          </select>
        </div>
        <br>

        <h3>Dietary Restrictions</h3>
        <div>
          <label class="custom-control custom-checkbox col-xs-12">
            <input type="checkbox" class="custom-control-input" ng-model="vegan" ng-true-value="'Vegan'" ng-false-value="false">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Vegan</span>
          </label>
          <label class="custom-control custom-checkbox col-xs-12">
            <input type="checkbox" class="custom-control-input" ng-model="dairyFree" ng-true-value="'dairyFree'" ng-false-value="false">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Dairy Free</span>
          </label>
          <label class="custom-control custom-checkbox col-xs-12">
            <input type="checkbox" class="custom-control-input" ng-model="carnivoritarian" ng-true-value="'carnivoritarian'" ng-false-value="false">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Carnivoritarian</span>
          </label>
          <label class="custom-control custom-checkbox col-xs-12">
            <input type="checkbox" class="custom-control-input" ng-model="glutenFree" ng-true-value="'glutenFree'" ng-false-value="false">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Gluten Free</span>
          </label>
          <label class="custom-control custom-checkbox col-xs-12">
            <input type="checkbox" class="custom-control-input" ng-model="fodMap" ng-true-value="'fodMap'" ng-false-value="false">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">FODMAP Friendly</span>
          </label>
          <label class="custom-control custom-checkbox col-xs-12">
            <input type="checkbox" class="custom-control-input" ng-model="vegitarian" ng-true-value="'vegitarian'" ng-false-value="false">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Vegetarian</span>
          </label>
          <br>
        </div>

        <div class="col-xs-12">
          <br>
          <button class="col-xs-6 col-xs-offset-2 btn newRecipe-btn" type="button" data-toggle="modal" data-target=".bs-example-modal-lg" style="border-radius:5px;">Add a Picture</button>
        </div>
        <div class="col-xs-12">
          <br>
          <img class="col-xs-8 col-xs-offset-1" src="" id="img-form-preview" />
        </div>

      </div> <!-- end right main columns -->
    </div> <!-- end main columns -->

    <h3>Steps:</h3>
    <div class="col-xs-12">
      <table class="table">
        <thead>
            <tr>
                <th class="col-xs-2">Hrs</th>
                <th class="col-xs-2">Mins</th>
                <th class="col-xs-7">Description</th>
                <th class="col-xs-1"></th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="step in steps">
            <td>
              <input type="number" class="form-control" ng-model="step.hrs" ng-if="step.editing"/>
              <span ng-if="!step.editing">{{step.hrs}}</span></td>
            <td>
              <input type="number" class="form-control" ng-model="step.mins" ng-if="step.editing"/>
              <span ng-if="!step.editing">{{step.mins}}</span></td>
            <td>
              <input type="text" class="form-control" ng-model="step.description" ng-if="step.editing"/>
              <span ng-if="!step.editing">{{step.description}}</span></td>
            <td>
              <button class="btn btn-xs btn-primary" ng-click="edit($index)" ng-if="!step.editing">Edit</button>
              <span ng-if="step.editing">
                  <button type="submit" class="btn btn-xs newRecipe-btn" ng-click="save($index)">Save</button>
                  <button type="button" class="btn btn-xs btn-default" ng-click="delete($index)">Delete</button>
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <input type="number" class="form-control" ng-model="newHrs"/>
            </td>
            <td>
              <input type="number" class="form-control" ng-model="newMins"/>
            </td>
            <td>
              <input type="text" class="form-control" ng-model="newStepDescription"/>
            </td>
            <td>
              <button type="submit" id="addStepButton" class="btn btn-xs newRecipe-btn" ng-click="addStep()">Add Step</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="text-align: center;">
      <button ng-click="submitRecipe()" style="border-radius:5px;" class="bg-primary submit-recipe"> Submit Recipe</button>
    </div>

  </div>
</div>


<!-- Modal for Incomplete Submission Message -->

<div class="modal fade" role="dialog" id="incompleteFieldsModal" style="text-align:center;">
  <div class="modal-dialog">
    <div class="modal-content" >
      <h2>Oops looks like you forgot to add these:</h2>

      <ul>
        <li class="forgotten-items" style="list-style-type: none; margin-left: -30px;" ng-repeat="field in incompleteFields">
          {{field}}
        </li>
      </ul>

      <button class="btn btn-sm col-xs-4 col-xs-offset-4" type="button" id="closeFailedSubmitModal">Back to Recipe</button>

    </div>
  </div>
</div>